@import "tailwindcss";

@theme {
  --color-obsidian: #080202;
  --color-mahogany: #0c0505;
  --color-crimson-start: #dc2626;
  /* Red-600 */
  --color-crimson-end: #881337;
  /* Rose-900 */

  --color-rose-50: #fff1f2;
  --color-rose-300: #fda4af;
  --color-red-900: #7f1d1d;
  --color-red-950: #450a0a;

  --animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

:root {
  --background: var(--color-obsidian);
  --foreground: var(--color-rose-50);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-obsidian);
}

::-webkit-scrollbar-thumb {
  background: var(--color-red-900);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-crimson-start);
}

/* Utility classes for aesthetic effects */
.glass-panel {
  @apply backdrop-blur-2xl bg-white/5 border border-white/10 shadow-lg;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-red-600 to-rose-900;
}